header{
	background-color: #000;
	
	top: 0px;
	left: 0px;
	width: 100%;
	margin-bottom: 20px;
}

nav li{
	display: inline-block;
	text-decoration: none;
	color: white;
	
	padding: 5px;
}
#slider{
	overflow: hidden;
}
p.about{
	width: 50%;
	display: inline-block;
}
#bxslider img{
	float: left;
}

th, td{
	padding: 5px;
}
img.gallery{
	height: 150px;
	padding: 0px 100px;
}
img.gallery:hover{
	height: 250px;
	padding: 0px;
	margin-left: 50px;
}
.slider{
	width: 1100px;
	height: 400px;
	overflow: hidden;
	position: relative;
}
